<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
       http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

  <!-- 指定应用名称 -->
  <!-- 详细配置见 http://dubbo.io/User+Guide-zh.htm#UserGuide-zh-%3Cdubbo%3Aapplication%2F%3E -->
  <dubbo:application name="demo-intergrate" organization="myjava" owner="demo-intergrate"/>

  <!-- 配置注册中心 -->
  <!-- 详细配置见 http://dubbo.io/User+Guide-zh.htm#UserGuide-zh-%3Cdubbo%3Aregistry%2F%3E -->
  <dubbo:registry protocol="zookeeper" address="${zookeeper.register.address}"/>

  <!-- 配置接口协议，序列化方式， optimizer 可配可不配，配置之后，可以提高序列化性能 -->
  <!-- 详细配置见 http://dubbo.io/User+Guide-zh.htm#UserGuide-zh-%3Cdubbo%3Aprotocol%2F%3E -->
  <!-- accesslog 指定日志文件输入名称，配合log4j使用，用来记录接口调用日志信息 -->
  <dubbo:protocol name="dubbo" serialization="dubbo" accesslog="dubbo.accesslog" port="20889"/>

  <!-- 对外提供天眼查接口 -->
  <dubbo:service interface="com.myjava.demo.intergrate.tyc.service.ITycService" ref="iTycService" timeout="5000"/>

  <!-- 机构接口 -->
  <dubbo:reference interface="com.jjshome.kp.api.service.institution.IInstitutionService" id="iInstitutionService"/>
</beans>
